.card{
	border-radius: 10px;
	margin-bottom: 20px;
	background-color: rgba(255, 253, 208, 30%);
	margin-right: 30px;
	box-shadow: 2px 2px 5px rgb(128, 0, 0);
	padding: 0px 15px;
	width: 250px;

}


.cardImg{
	height: 160px;
	width: 160px;
	margin-top: 5px;
	border-radius: 50%;
	border: 1px rgb(250, 215, 133) solid;
	background-color: rgba(250, 215, 133, 70%);
	
}
	


